{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div class="container" style="padding-top: 70px; margin-top:0;display:flex; justify-content: center; ">
    <div style="width: 55%">
      {% if error %}
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Uh oh!</span>
            <p>{{ error }}</p>
          </div>
        </div>
      {% endif %}

      <form method="post" action="/">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text" style="padding-bottom: 0px">
            <span class="card-title">Let's find you some hackathons.</span>
            <input name="outbound" type="text" placeholder="Where are you flying from?">
          </div>

          <div class="card-action" style=" padding-top: 0px;">
            <p class="white-text" style='width:100%; text-align: center; font-size:16pt;'>Where are you looking to hack?</p>
            <div style="display:flex; justify-content: space-between">
              <button class="btn btn-default btn-large" type="submit" name="region" value="europe" class="btn-lrg btn-default">Europe</button>
              <button class="btn btn-default btn-large" type="submit" name="region" value="north-america" class="btn-lrg btn-default">North America</button>
              <button class="btn btn-default btn-large" type="submit" name="region" value="" class="btn-lrg btn-default">Everywhere</button>
            </div>
          </div>
        </div>    
      </form>
    </div>
  </div>
{% endblock %}
